<aside class="sidebar">
  <a class="menu-item">
    <span class="icon home"><i class="fa-solid fa-home"></i></span>
    <span class="label">Inicio</span>
  </a>
  <a class="menu-item">
    <span class="icon profile"><i class="fa-solid fa-user"></i></span>
    <span class="label">Perfil</span>
  </a>
  <a href="/historial" class="menu-item">
    <span class="icon clock"><i class="fa-solid fa-clock"></i></span>
    <span class="label">Historial</span>
  </a>
  <a class="menu-item">
    <span class="icon menu"><i class="fa-solid fa-message"></i></span>
    <span class="label">Chat</span>
  </a>
</aside>
